body{
    margin: 0;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #84716B;
}

.container-all{
    position: relative;
    box-shadow: 2px 2px 2px 1px #222831;
    background-color: #ffff;
    width: 65%;
    padding: 30px 0 30px 0;
}

h2{
    color: cornflowerblue;
    padding: 0 30px ;
}

p{
    padding: 0 50px;
}

.ho{
    padding: 0 80px;
}

.cajas{
    padding: 0 90px;
}


.impr{
    text-align: center;
}
.btn{
    height: 45px;
	line-height: 45px;
	width: 30%;
	background: rgba(163,163,163, 0.4);
	color: black;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}
input{
    width: 25%;
	background: white;
	border: 3px solid rgba(163,163,163, 0.4);
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

input:focus{
    border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}